@charset "ISO-8859-1";

.reg{
	background-color: rgb(204, 255, 255);
    text-align: center;
	margin-top: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.reg-tf{
	border: 1px solid black;
	width: 350px;
	padding: 5px 10px;	
}

.reg-tf:hover{
	  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
	    border: 1px solid rgba(81, 203, 238, 1);
}

.mar{
	margin-top: 10px;
}














